<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Jeremy Steward">

    <title>@ViewBag.Title Jeremy's Blog</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- style css -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- modernizr js -->
    <script src="~/Scripts/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>

    <!-- Loading Bar Start -->
    <div id="loading-wrap">
        <div class="loading-effect"></div>
    </div>
    <!-- Loading Bar End -->
    <!-- Loading Bar End -->
    <!-- Header Section Start -->
    <header class="header-style-1">
        <div class="header-top active-sticky">
            <div class="container">
                <div class="row">
                    @*<div class="col-xs-12 col-sm-2 col-md-3">
                            <div class="left">
                                <div class="logo">
                                    <a href="index.html">
                                        <img src="~/images/img/logo.png" alt="Jeremy" />
                                    </a>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-xs-12 col-sm-10 col-md-9">
                        <div class="right">
                            <nav class="mainmenu menu-hover-1 pull-right">
                                @*<div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>*@
                                <div class="navbar-collapse collapse clearfix">
                                    <ul class="navigation clearfix plr-60">

                                        <!-- HOME START -->
                                        <li class="dropdown">
                                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                                        </li>
                                        @if(User.IsInRole("Admin")){
                                        <li>
                                            @Html.ActionLink("Posts", "Index", "BlogPosts", null, new { @class = "nav-link" })
                                        </li>
                                        <li>
                                            @Html.ActionLink("Create", "Create", "BlogPosts", null, new { @class = "nav-link" })
                                        </li>
                                        }
                                        @Html.Partial("_LoginPartial")
                                        <!-- HOME END -->
                                        <!--<li>
                                            <a href="about-us.html">About Me</a>
                                        </li>-->
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Space -->
    @*<div class="header-space"></div>*@
    <!-- Header Section End -->
    <!-- Breadcrumbs Start -->
    <div class="pages-header bg-color-2">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="page-title ptb-100 plr-60" style="text-align: center">
                        <h1 class="mb-15">Jeremy's Blog</h1>
                        <h4 class="mb-5">Reflections on becoming a web developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- Blog Section Start -->
    <div class="blog-area blog-one light-bg section-padding">
        <div class="container text-center mb-minus">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Footer Section Start -->
    <footer class="footer white-bg ptb-20 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="left pull-left">
                        @*<p>Copyright &copy; 2017 <a href="https://themeforest.net/user/regaltheme/portfolio" target="_blank">Regaltheme</a>.</p>*@
                    </div>
                    <!--<div class="social-icon simple pull-right">
                        <ul class="clearfix">
                            <li><a href="http://www.facebook.com" target="_blank"><i class="zmdi zmdi-facebook"></i></a></li>
                            <li><a href="http://www.twitter.com" target="_blank"><i class="zmdi zmdi-twitter"></i></a></li>
                            <li><a href="http://www.pinterest.com" target="_blank"><i class="zmdi zmdi-pinterest"></i></a></li>
                            <li><a href="http://www.linkedin.com" target="_blank"><i class="zmdi zmdi-linkedin"></i></a></li>
                            <li><a href="http://www.instagram.com" target="_blank"><i class="zmdi zmdi-instagram"></i></a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- All JS Here -->
    <!-- jQuery Latest Version -->
    <script src="~/Scripts/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- Isotope -->
    <script src="~/Scripts/js/isotope.pkgd.js"></script>
    <!-- Validate -->
    <script src="~/Scripts/js/jquery.validate.min.js"></script>
    <!-- Slick Slider JS -->
    <script src="~/Scripts/js/slick.min.js"></script>
    <!-- Plugins JS -->
    <script src="~/Scripts/js/plugins.js"></script>
    <!-- main JS -->
    <script src="~/Scripts/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>