@model IEnumerable<MVC_Project.Models.BlogPost>

@foreach (var post in Model)
{
    int count = 1;
    if (count % 2 != 0)
    {
        <div class="col-md-6">
            <div class="blog-post">
                <div class="thumb">
                    <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })">
                        <img class="img-responsive" src="@post.MediaURL" alt="Blog Thumbnail" style="width: 570px; height: 332px;" />
                    </a>                        
                </div>
                <div class="blog-text plr-40 ptb-40 white-bg">
                    <div class="title">
                        <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })"><h3 style="font-weight:bold">@post.Title</h3></a>
                        <h6>@post.Created.ToString("MMM dd, yyyy")</h6>
                        <hr class="line" />
                    </div>
                    <p class="ptb-15">@post.Abstract</p>
                    <div class="blog-footer clearfix">
                        <div class="pull-left">
                            <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })">Read More</a>
                        </div>
                        @*<div class="pull-right">
                                <a href="blog-details.html"><i class="zmdi zmdi-favorite-outline"></i></a>
                                <a href="blog-details.html"><i class="zmdi zmdi-comment-outline"></i></a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div> }
    else
    {
        <div class="col-md-6">
            <div class="blog-post">
                <div class="thumb">
                    <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })">
                        <img class="img-responsive" src="@post.MediaURL" alt="Blog Thumbnail" style="width: 570px; height: 332px;" />
                    </a>
                </div>
                <div class="blog-text plr-40 ptb-40 white-bg">
                    <div class="title">
                        <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })"><h3 style="font-weight:bold">@post.Title</h3></a>
                        <h6>@post.Created.ToString("MMM dd, yyyy")</h6>
                        <hr class="line" />
                    </div>
                    <p class="ptb-15">@post.Abstract</p>
                    <div class="blog-footer clearfix">
                        <div class="pull-left">
                            <a href="@Url.Action("Details","BlogPosts",new { slug = post.Slug })">Read More</a>
                        </div>
                        <div class="pull-right">
                            <a href="blog-details.html"><i class="zmdi zmdi-favorite-outline"></i></a>
                            <a href="blog-details.html"><i class="zmdi zmdi-comment-outline"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>}
    count++;
}